@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-amber-50 text-base text-slate-800;
    font-family: "Rubik", system-ui, -apple-system, sans-serif;
  }

  #app {
    @apply bg-amber-50 text-base/6;
  }

  html {
    scroll-behavior: smooth;
  }
}
